.headerContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    position: fixed;
    z-index: 100;
}

.imgContainer {
    margin: 0 0 12px 50px;
}

.imgContainer img {
    width: 210px;
}

.imgContainer a {
    cursor: pointer;
}
/*START_NAVIGATION_LINKS*/
    .navList {
        list-style-type: none;
        display: flex;
        position: fixed;
        left: 250px;
    }

    .navList li  {
        margin-right: 30px;
    }

    .navList a {
        text-decoration: none;
        color: white;
        position: relative;
    }

    .aa_nav::before,
    .ab_nav::before,
    .ac_nav::before,
    .ad_nav::before,
    .ae_nav::before,
    .af_nav::before,
    .shopBtn::before {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        top: 15px;
        background-color: #fff;
        visibility: hidden;
        transition: all 0.15s ease-in-out;
    }

    .aa_nav:hover::before,
    .ab_nav:hover::before,
    .ac_nav:hover::before,
    .ad_nav:hover::before,
    .ae_nav:hover::before,
    .af_nav:hover::before,
    .shopBtn:hover:before  {
        visibility: visible;
        width: 100%;
    }

    .shopBtn {
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 0.75rem;
        background-color: transparent;
        padding: 0px;
        right: 85px;
        position: absolute;
        color: white;
        cursor: pointer;
    }

/*END_NAVIGATION_LINKS*/

@media screen and (max-width: 1050px) {
    .headerContainer {
        height: 65px;
        justify-content: center;
    }

    .navList {
        display: none;
    }

    .shopBtn {
        display: none;
    }

    .imgContainer {
        margin: 0;
    }

    .imgContainer img {
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    .headerContainer {
        height: 65px;
        justify-content: center;
    }

    .navList {
        display: none;
    }

    .shopBtn {
        display: none;
    }
    
    .imgContainer {
        margin: 0;
    }
    
    .imgContainer img {
        width: 150px;
    }
}