.menuBtnContainer {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    position: absolute;
    right: 0px;
}

.menuBtn {
    width: 17px;
    height: 2px;
    background: #fff;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.menuBtn::before,
.menuBtn::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.menuBtn::before {
    transform: translateY(-4px);
}

.menuBtn::after {
    transform: translateY(4px);
}

.menuBtn.open::before {
    transform: rotate(45deg);
}

.menuBtn.open::after {
    transform: rotate(-45deg);
}

.menuBtn.open {
    background: transparent;
}

/*END_HAMBURGUER_MENU*/

/*START_SIDEBAR_MENU*/

.backgroundMenu {
    width:100%;
    height:100%;
    position:fixed;
    display:flex;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
    overflow: none;
}

.sidebarMenu {
    width: 0;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: none;
}

.sidebarMenu ul {
    display: block;
    text-align: right;
    margin: -300px 2rem 0 0;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
}

.navItem {
    text-decoration: none;
}

.navItem a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    border-bottom: 1pt solid #252525;
    display: block;
    line-height: 40px;
    cursor: pointer;
}

.navItem a:hover {
    color: #797979;
    transition: 0.5s;
}

.primary {
    display: none;
}

/*END_SIDEBAR_MENU*/

@media screen and (max-width: 1050px) {
    .sidebarMenu ul {
        margin: -1rem 2rem 0 0;
    }

    .primary {
        display: block;
    }
}
