body, html {
    margin: 0;
    height: 100%;
}

.main_content {
    max-width: 100%;
    height: 100vh;
    background-image: url(../images/homepage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*START_FEATURE_SECTION*/

    .feature_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 526px;
        height: 286px;
        margin: 180px 0 0 50px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .section_subtitle {
        font-size: 17px;
        font-weight: 100;
        margin: 0;
        margin-bottom: 20px; 
        -webkit-text-stroke: 0.1px black;
    }

    .section_title {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 20px;
        -webkit-text-stroke: 0.3px black;
    }

    .section_parag {
        font-size: 15px;
        font-weight: 100;
        margin: 0;
        margin-bottom: 50px; 
        -webkit-text-stroke: 0.2px black;
        line-height: 1.6;
    }
    
    .section_link {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        border: solid 2px #fff;
        width: 160px;
        height: 50px;
    }

    .div_hover {
        width: 160px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        position: absolute;
    }

    .btn_text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        position: relative;
    }

    .div_hover:hover {
        background-color: #fff;
        transition: 0.3s;
        color: #000;
    }
/*END_FEATURE_SECTION*/



/*START_SECOND_SECTION*/

    .second_content {
        height: 100vh;
        background-image: url(../images/rocket_img.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: all;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*START_FOURTH_SECTION*/

    .third_content {
        height: 100vh;
        transition: all;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .third_content video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .feature_section_video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 526px;
        height: 286px;
        margin: 180px 0 0 50px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        
    }

    .feature_section_video h4 {
        font-size: 17px;
        font-weight: 100;
        margin: 0;
        margin-bottom: 20px; 
        -webkit-text-stroke: 0.1px black;
    }

    .feature_section_video h1 {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 20px;
        -webkit-text-stroke: 0.3px black;
    }

    .feature_section_video p {
        font-size: 15px;
        font-weight: 100;
        margin: 0;
        margin-bottom: 50px; 
        -webkit-text-stroke: 0.2px black;
        line-height: 1.6;
    }
    
    .feature_section_video a {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        border: solid 2px #fff;
        width: 160px;
        height: 50px;
    }

/*END_FOURTH_SECTION*/

/*START_FOOTER_SECTION*/

    .footer {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 10.5px;
    }

    .footer span {
        color: #797979;
        margin: 0 20px;
    }

    .footer a {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        transition: 0.5s;
    }

    .footer a:hover {
        color: #797979;
    }

/*END_FOOTER_SECTION*/

@media screen and (max-width: 1050px) {
    .feature_section {
        width: 300px;
        height: 586px;
        margin: 180px 0 0 30px;
    }
    
    .feature_section_video {
        width: 300px;
        height: 586px;
        margin: 180px 0 0 30px;
    }

    .footer {
        display: block;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .footer span {
        margin-bottom: 15px;
        display: block;
        
    }

}

@media screen and (max-width: 350px) {
    .feature_section {
        width: 300px;
        height: 586px;
        margin: 180px 0 0 30px;
    }
    
    .feature_section_video {
        width: 300px;
        height: 586px;
        margin: 100px 0 0 30px;
    }

    .footer {
        display: block;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .footer span {
        margin-bottom: 15px;
        display: block;
        
    }
}